.container {
    width: 10vw;
    background-color: rgba(6, 6, 6, 0.4);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: end;
}

.inviteContainer {
    padding-left: 0.5vw;
    background-color: transparent;
    width: 4vw;
    transition: all ease-in-out 0.3s;
    padding-top: 4vh;
}

.inviteContainer:hover {
    background-color: rgba(0, 0, 0, 0.783);
    width: 10vw;
}

.inviteBox {
    border-top: 1px solid rgb(59, 58, 58);
    padding-top: 1vh;
    height: 8vh;
    margin-bottom: 2vh;
    color: white;

    span {
        display: flex;
        align-items: center;
        column-gap: 0.1rem;
    }

    p {
        font-size: 1.5vh;
        font-weight: 600;
    }

    img {
        height: 5vh;
        aspect-ratio: 1;
        margin-top: 0.5vh;
    }

    div {
        margin-top: 0.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 5vh;
        width: 100%;
        padding-left: 0.5rem;
        transition: all ease-in-out 0.2s;
    }

    div:hover {
        background-color: white;
        color: black;
    }
}